/*
 #bodyContent {
 overflow: hidden;
 }
 #searchContainer {
 width: 30%;
 float: left;
 }
 #searchResults {
 width: 300px;
 }
 #scheduleContainer {
 width: 70%;
 float: left;
 }
 */
.helper {
	border-radius: 8px 8px 8px 8px;
	background-color: #444444;
	color: #D2E0E6;
	font-size: small;
	cursor: move;
	font-family: Courier;
	z-index: 100;
}
.tabla {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 8px 3px black;
	-moz-box-shadow: 0 2px 8px 3px black;
	box-shadow: 0 2px 8px 3px black;
}
.boton{
	background-color:#9B9999;
	border-radius: 5px;
	height:30px;
	border: 1px solid #9B9999;
	font-family: tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}

.textoBusqueda{
	border-radius: 5px;
	height:25px;
	width:80%;
	font-family: tahoma;
	font-size: 14px;
	color: #000000;
	padding-left:10px;
}
.box {
	background-color: #F4F4F4;
	border: 1px solid #CCC;
	height: 100px;
	width: 200px;
	padding: 5px;
	display: none;
	position: absolute;
}