.celda1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

.contentResult{
	background-color:#E0E6F8;
}

.menu{
	text-align: center;
}
.#result{
	
}


