/*
 #bodyContent {
 overflow: hidden;
 }
 #searchContainer {
 width: 30%;
 float: left;
 }
 #searchResults {
 width: 300px;
 }
 #scheduleContainer {
 width: 70%;
 float: left;
 }
 */
#searchInputText{
	width: 80%;
	font-style: italic;
	color: #B3B3B3;
}
.helper {
	border-radius: 8px 8px 8px 8px;
	background-color: #444444;
	color: #D2E0E6;
	font-size: small;
	cursor: move;
	font-family: Courier;
	z-index: 100;
}
.tabla {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 8px 3px black;
	-moz-box-shadow: 0 2px 8px 3px black;
	box-shadow: 0 2px 8px 3px black;
}
.boton{
	background-color:#9B9999;
	border-radius: 5px;
	height:30px;
	border: 1px solid #9B9999;
	font-family: tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	cursor: pointer;
}

.textoBusqueda{
	border-radius: 5px;
	height:25px;
	width:80%;
	font-family: tahoma;
	font-size: 14px;
	color: #000000;
	padding-left:10px;
}
.icon{
	position: relative;
	top: 0px;
	float: right;
	/*background-image: url(_images/close.png);*/
	z-index: 150;
	opacity: 0.5;
}
.icon:hover{
	opacity:1;
}
/*
table {
  border: solid 1px #D5D5D5;
  border-collapse: collapse;
	width:100%; 
}
table td {
	border:1px solid #D5D5D5;
	font-size:12px;
	padding:7px 5px;
}
table th {
	background-color:#EEE;
	border-right:1px solid #D5D5D5;
	font-size:13.5px;
	line-height:120%;
	font-weight:bold;
	padding:8px 5px;
	text-align:left;
}
.ui-resizable {
	position:relative;
}
.ui-resizable-handle {
	display:block;
	font-size:0.1px;
	position:absolute;
	z-index:99999;
}
.ui-resizable-s { 
	background:#EEEEEE no-repeat scroll center 2px;
	border-top:1px solid #CCCCCC;
	bottom:-5px;
	cursor:s-resize;
	height:14px;
	left:0;width:100%; 
}*/